<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=version">
    <title>Book List</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header class="header flex">
        <a class="headerLeftBtn" href="/">Bookstore</a>
        <a class="headerRightBtn" href="/users/new">Add Book</a>
    </header>

    <main class="main flex-center">
        <p class="bookList">Listing Books</p>
    </main>
</body>
</html>