<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=version">
    <title>title</title>
</head>
<body>
    <main>
        <h1>User Form</h1>
        <form action="/users" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="email" name="email" placeholder="Enter email">
            <input type="number" name="age" placeholder="Enter age">
            <input type="text" name="address" placeholder="Enter address">
            <input type="text" name="hobby" placeholder="Enter Hobbies">
            <input type="text" name="bio" placeholder="Enter bio">
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>