<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=version">
    <title>User Diary-Index Page</title>

    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body class="indexBody">
    <main class=".container">
        <h1 class="headingIndex">Welcome to User Diary</h1>
        <div class="flex-center button-cover">
            <a class="btnIndex" href="/users">Check User Diary</a>
        </div>
    </main>
</body>
</html>